@import url('styles/computer.css');
@import url('styles/mobile.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Both */
.app-content {
  @apply flex flex-col h-screen w-screen relative;
}

.footer {
  @apply flex justify-center items-center text-center text-white font-serif;
}

.navbar {
  @apply relative flex justify-between;
}

.portal-content {
  @apply flex flex-col items-center z-10;
}

.portal-title {
  @apply text-3xl text-center z-10 text-white;
}

.portal-box {
  @apply relative flex flex-col justify-center font-bold;
}

.btngrid {
  @apply gap-8;
}

.btn-col {
  @apply flex flex-col gap-2;
}

.col-title {
  @apply flex flex-col items-center text-xl;
}

.button-small {
  @apply w-20 h-28 bg-white text-black text-center flex flex-col font-bold rounded-xl whitespace-normal;
}

.button-small:hover:not(.disabled) {
  @apply bg-magav-dark-green text-white;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

body {
  position: relative;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #38661cbe;
  background: linear-gradient(
    -10deg,
    #025928 5%,
    #025928 5%,
    #94a3b8 66.66%,
    #94a3b8 66.66%,
    #025928 83.33%,
    #025928 83.33%,
    #025928 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  @apply flex;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(30px) scale(0.9); /* Optional: scale effect */
  }
  to {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

@keyframes combinedEffect {
  0% {
    transform: translateY(20px) scaleY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

@keyframes dustAway {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.8) rotate(10deg);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-20px) scale(1.1) rotate(5deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1) rotate(0deg);
  }
}

.img-animation {
  animation: combinedEffect 5s ease forwards;
}
/* .img-animation2 {
  animation: dustAway 5s ease forwards;
}
.img-animation3 {
  animation: fadeIn 5s ease forwards;
} */
